@import ./modules/font

html,
body
  width: 100%
  height: 100%
  padding: 0
  margin: 0

.game-container
  // display: table
  width: 100%
  height: 100%
  text-align: center
  padding: 1rem
  box-sizing: border-box

  canvas
    max-width: 100%
    max-height: 100%
    width: auto
    height: auto